{% extends 'main.html' %}
{% load static %}

{% block title %}아이디어 등록{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'ideasite/create.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Idea Register</h1>
    <p>아이디어 등록 페이지 입니다. 당신의 아이디어를 잊지 말고 기록하세요!</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

         <!-- 예상 개발툴 선택 드롭다운 -->
         <label for="tool">예상 개발툴:</label>
         <select id="tool" name="tool" required>
             <option value="">-- 선택 --</option>
             {% for tool in tools %}
             <option value="{{ tool.id }}">{{ tool.name }}</option>
             {% endfor %}
         </select>

        <button type="submit">SUBMIT</button>
    </form>
</div>
{% endblock %}
